<a href="https://colab.research.google.com/github/anu-mohan/Ds_pythoncode/blob/main/Aggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/Salaries.csv")

##Aggregation funtions in pandas

In [3]:
 df[['phd','salary']].agg(['min','mean','max'])

            phd         salary
min    1.000000   57800.000000
mean  19.705128  108023.782051
max   56.000000  186960.000000

In [9]:
 df[['phd','salary']].agg(['mean'])

            phd         salary
mean  19.705128  108023.782051