<a href="https://colab.research.google.com/github/anu-mohan/Ds_pythoncode/blob/main/Confidence_Interval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from scipy import stats
import pandas as pd
import numpy as np

In [6]:
glaxo_df=pd.read_csv('glaxo_df.csv')

In [7]:
glaxo_df_ci = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print( 'Gain at 95% confidence interval is:', np.round(glaxo_df_ci, 4))

Gain at 95% confidence interval is: [-0.0258  0.0266]

In [8]:
beml_df=pd.read_csv('beml_df.csv')

beml_df_ci = stats. norm.interval(0.95,
loc=beml_df.gain.mean(),
scale=beml_df.gain.std())

In [9]:
beml_df

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1134.60 -0.000881
1     2010-01-06  2010-01-06  1139.60  0.004407
2     2010-01-07  2010-01-07  1144.15  0.003993
3     2010-01-08  2010-01-08  1144.05 -0.000087
4     2010-01-11  2010-01-11  1137.00 -0.006162
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26   950.25 -0.021924
1734  2016-12-27  2016-12-27   975.70  0.026782
1735  2016-12-28  2016-12-28   974.40 -0.001332
1736  2016-12-29  2016-12-29   986.05  0.011956
1737  2016-12-30  2016-12-30  1000.60  0.014756

[1738 rows x 4 columns]

In [11]:
beml_df_ci

(-0.051532729680601415, 0.05207422583871588)